@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
/* --dk-gray: #101011; */
--dk-gray: #333333;
--md-gray: #808080;
/* --white: #eceef4; */
--white: #f5f5f5;
--glow1: var(--white);
--glow2: var(--dk-gray);
--border-rem1: .5rem;
--border-rem2: .25rem;
--border-rad: 3rem;
--font-title: "Spicy Rice", serif;
--font: "Patrick Hand SC", cursive;

/* --ari: #ba1c1c;
--tau: #115011;
--gem: #f8b008;
--can: #005f75;
--leo: #a18410;
--vir: #676711;
--lib: #101054;
--sco: #310d0f;
--sag: #710f71;
--cap: #2f494f;
--aqu: #358d8e;
--pis: #2b6767; */

/* --ari: #ea554f;
--tau: #62b05c;
--gem: #d3be8f;
--can: #92bcc6;
--leo: #a28644;
--vir: #969646;
--lib: #99a8cc;
--sco: #da547d;
--sag: #be4ceb;
--cap: #828f86;
--aqu: #87cecc;
--pis: #79a79d; */

--fire1: #e07b7b;
--earth1: #c79576;
--air1: #deda72;
--water1: #67d1cf;

--fire2: #a960cb;
--earth2: #5da05d;
--air2: #7d8ab0;
--water2: #5d96a0;
}

body {
  background: var(--dk-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-container {
  height: auto;
  width: 350px;
}
#game-title {
    display: flex;
    justify-content: center;
    /* margin: 0; */
}

#game-title h1 {
    color: var(--dk-gray);
    /* font-family: "Monoton", sans-serif; */
    display: flex;
    font-family: var(--font-title);
    font-size: 2.25rem;
    font-weight: 100;
    margin: 1rem;
}

#game-title h1 span{ 
    /* color: red; */
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--glow1), 0 0 40px var(--glow1), 0 0 50px var(--glow1), 0 0 60px var(--glow1), 0 0 70px var(--glow1);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px var(--glow2), 0 0 30px var(--glow2), 0 0 40px var(--glow2), 0 0 50px var(--glow2), 0 0 60px var(--glow2), 0 0 70px var(--glow2);
  }
}

#modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: var(--font);
}

dialog {
  height: auto;
  width: 325px;
  background: var(--white);
  border: 10px double var(--dk-gray);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

dialog h2 {
  font-size: 1.35rem;
  /* margin-bottom: 0; */
}

.no-bot-margin {
  margin-bottom: 0;
}

.dialog-item1 {
  display: flex;
  align-items: center;
}

.dialog-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* .dialog-item3 {
  display: flex;
  align-self: center;
} */

.btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0;
}

.btn-row button {
  height: 3.25rem;
  width: 3.75rem;
  background: none;
  border: 3px solid var(--dk-gray);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2rem;
}

.btn-row button .zod-sym{
  height: auto;
  width: 2rem;
  display: flex;
  /* padding: .25rem; */
}

.btn-row button .zod-img{
  height: auto;
  width: 2.5rem;
  display: none;
  /* padding: .25rem; */
}

.btn-row button:hover, .btn-row button:focus {
  background: none;
  /* border: none; */
  transform: scale(1.10);
   */
}

/* #ari1:hover {
  background-color: var(--ari);
}
#tau1:hover {
  background-color: var(--tau);
}
#gem1:hover {
  background-color: var(--gem);
}
#can1:hover {
  background-color: var(--can);
}
#leo1:hover {
  background-color: var(--leo);
}
#vir1:hover {
  background-color: var(--vir);
}
#lib1:hover {
  background-color: var(--lib);
}
#sco1:hover {
  background-color: var(--sco);
}
#sag1:hover {
  background-color: var(--sag);
}
#cap1:hover {
  background-color: var(--cap);
}
#aqu1:hover {
  background-color: var(--aqu);
}
#pis1:hover {
  background-color: var(--pis);
} */

#ari1:hover, #leo1:hover, #sag1:hover {
  background-color: var(--fire1);
}
#tau1:hover, #vir1:hover, #cap1:hover {
  background-color: var(--earth1);
}
#gem1:hover, #lib1:hover, #aqu1:hover {
  background-color: var(--air1);
}
#can1:hover, #sco1:hover, #pis1:hover {
  background-color: var(--water1);
}


#ari2:hover, #leo2:hover, #sag2:hover {
  background-color: var(--fire2);
}
#tau2:hover, #vir2:hover, #cap2:hover {
  background-color: var(--earth2);
}
#gem2:hover, #lib2:hover, #aqu2:hover {
  background-color: var(--air2);
}
#can2:hover, #sco2:hover, #pis2:hover {
  background-color: var(--water2);
}

.btn-row button:active {
  background: var(--md-gray);
  /* border: 3px solid red; */
  transform: scale(.95);
}



.btn-row .start-reset {
  height: 3.5rem;
  width: 16.275rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  /* font-size: 2rem; */
  
  /* margin: auto; */
}

#game-board {
    display: none;
    grid-template: repeat(3, minmax(7rem, 1fr) ) / repeat(3, minmax(5rem, 1fr));
    gap: 0;
    margin-top: 1rem;;
}


.cell {
    /* height: 5rem;
    width: 5rem; */
    background:var(--white);
    border: .5rem double var(--dk-gray);
    color: var(--dk-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    /* margin: 0;
    padding: 0; */

  vertical-align: middle; 

}


/* TOGGLE */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
  margin: 0 .5rem 0 .5rem;
}

/* Hide default HTML checkbox */
.switch input {

  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--md-gray);
  -webkit-transition: .4s;
  transition: .4s;
    border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  top: 1px;
  background-color: var(--dk-gray);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1rem;
}


/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

input:unchecked +