@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
--dk-gray: #333333;
--md-gray: #808080;
--white: #f5f5f5;

--red: #a50717;
--yellow: #dfdf0d;
--green: #1f3c22;
--blue: #221f3c;

--fire1: #cf6868;
--earth1: #c99c80;
--air1: #dfdd86;
--water1: #7bf0e4;

--fire2: #a694ae;
--earth2: #88ae88;
--air2: #bdc7da;
--water2: #65afc4;

/* --glow1: var(--red);
--glow2: var(--dk-gray); */

--master-width: 325px;
--border-width: 3px;
--zod-btn: 3.5rem;
--sym-img-size: 2.25rem;
--other-btn-w: calc(var(--zod-btn) * 2.067);
--font-title: "Spicy Rice", serif;
--font-title-size: 2.5rem;
--font: "Patrick Hand SC", cursive;
--font-size: 1.25rem;
--font-size-msg: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height:auto;
  width: auto;
  background: var(--dk-gray);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-container {
  height: auto;
  width: auto;
}

#app-title {
  display: flex;
    justify-content: center;

}

#app-title h1 {
  color: var(--dk-gray);
  display: flex;
  font-family: var(--font-title);
  font-size: var(--font-title-size);
  font-weight: 100;
  margin: .5rem;
  text-shadow: 0 0 10px var(--white), 0 0 15px var(--md-gray) 
}

/* Comment out but keep glow animation */

/* #app-title h1 span{ 
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glow 5s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px var(--white), 0 0 20px #fff, 0 0 30px var(--glow1), 0 0 40px var(--glow1), 0 0 50px var(--glow1), 0 0 60px var(--glow1), 0 0 70px var(--glow1);
  }
  to {
    text-shadow: 0 0 10px var(--white), 0 0 20px var(--glow2), 0 0 30px var(--glow2), 0 0 40px var(--glow2), 0 0 50px var(--glow2), 0 0 60px var(--glow2), 0 0 70px var(--glow2);
  }
} */

#modal-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  font-family: var(--font);
}

dialog {
  height: auto;
  /* width: var(--master-width); */
  width: 98vw;
  background: var(--white);
  border: calc(var(--border-width) * 3) double var(--dk-gray);
  border-radius: 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
  margin: auto;
}

dialog h2 {
  font-size: var(--font-size);
  margin-bottom: .25rem;
}

.dialog-item1 {
  display: flex;
    align-items: center;
  margin: 1rem 0 1rem 0;
}

.dialog-item2 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  margin: 0 0 1rem 0;
}

.dialog-item3 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  margin: -1.5rem 0 1rem 0;
}

#alert1, #alert2 {
  align-self: center;
  /* width: calc(var(--master-width) - 5); */
  width: fit-content;
  background-color: var(--yellow);
  border: var(--border-width) dashed var(--dk-gray);
  display: none;
  margin-bottom: .5rem;
}

#alert-msg1, #alert-msg2 {
  color: var(--red);
  font-size: var(--font-size-msg);
  padding: .75rem;
}

.btn-row {
  align-self: center;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  margin: 0;
}

button {
  height: var(--zod-btn);
  width: var(--zod-btn);
  background: var(--white);
  border: var(--border-width) solid var(--dk-gray);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
    justify-content: center;
    align-items: center;
  margin-bottom: .25rem;
}

.zod-sym {
  height: auto;
  width: var(--sym-img-size);
  display: flex;
}

.zod-img {
  height: auto;
  width: var(--sym-img-size);
  display: none;
}

button:hover, button:focus {
  background: none;
  transform: scale(1.1);
}

#ari1:hover, #leo1:hover, #sag1:hover, #ari1:focus, #leo1:focus, #sag1:focus {
  background: var(--fire1);
}
#tau1:hover, #vir1:hover, #cap1:hover, #tau1:focus, #vir1:focus, #cap1:focus {
  background: var(--earth1);
}
#gem1:hover, #lib1:hover, #aqu1:hover, #gem1:focus, #lib1:focus, #aqu1:focus {
  background: var(--air1);
}
#can1:hover, #sco1:hover, #pis1:hover, #can1:focus, #sco1:focus, #pis1:focus {
  background: var(--water1);
}

#ari2:hover, #leo2:hover, #sag2:hover, #ari2:focus, #leo2:focus, #sag2:focus {
  background: var(--fire2);
}
#tau2:hover, #vir2:hover, #cap2:hover, #tau2:focus, #vir2:focus, #cap2:focus {
  background: var(--earth2);
}
#gem2:hover, #lib2:hover, #aqu2:hover, #gem2:focus, #lib2:focus, #aqu2:focus{
  background: var(--air2);
}
#can2:hover, #sco2:hover, #pis2:hover, #can2:focus, #sco2:focus, #pis2:focus{
  background: var(--water2);
}

button:active {
  transform: scale(.9);
}

#modal-player-two {
  animation: fadeIn 1s ease forwards; /* Define the fadeIn animation */
  display: none;
  opacity: .5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Start slightly above and move down */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

.btn-row #start-btn, .btn-row .clear-btn, #game-btns .clear-btn, #game-btns #new-game-btn {
  height: var(--zod-btn);
  width: var(--other-btn-w);
  display: flex;
    justify-content: center;
    align-items: center;
  font-family: var(--font);
}

.clear-btn:hover, .clear-btn:focus, #start-btn:hover, #start-btn:focus, #new-game-btn:hover, #new-game-btn:focus {
  transform: scale(1.05);
}

.clear-btn:active, #start-btn:active, #new-game-btn:active {
  transform: scale(.95);
}

.clear-btn:hover, .clear-btn:focus {
  background: var(--blue);
  color: var(--white);
}

#start-btn:hover, #start-btn:focus, #new-game-btn:hover, #new-game-btn:focus {
  background: var(--green);
  color: var(--white);
}

#game-container {
  height: auto;
  width: 98vw;
  display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding: .25rem;
}

#player-board {
  width: var(--master-width);
  background: var(--white);
  border: .5rem double var(--dk-gray);
  border-radius: 2rem 2rem 0 0;
}

#player-container {
  display: flex;
    justify-content: space-evenly;
}

#player-one-box, #player-two-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  padding: .25rem;
}

#player-one-marker, #player-two-marker {
  height: 4.5rem;
  width: 4.5rem;
  border: var(--border-width) solid var(--dk-gray);
  border-radius: 1rem;
  text-align: center;
  padding: .25rem;
}

#player-one-name, #player-two-name, #player-one-type, #player-two-type  {
  color: var(--red);
  font-size: var(--font-size);
}

#message-board {
  height: 5rem;
  width: var(--master-width);
  background: var(--white);
  border: .5rem double var(--dk-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: var(--font-size);
  padding: .25rem;
  text-align: center;
}

#game-board {
  height: auto;
  width: var(--master-width);
  display: grid;   /* change back to none? */
    grid-template: repeat(3, minmax(6.5rem, 1fr) ) / repeat(3, minmax(5rem, 1fr));
    gap: 0;
  /* margin-top: 1rem; */
}

.cell {
  /* height: 5rem;
  width: 5rem; */
  background:var(--white);
  border: .5rem double var(--dk-gray);
  color: var(--dk-gray);
  display: flex;
    justify-content: center;
    align-items: center;
  font-size: 4rem;
  /* margin: 0;
  padding: 0; */
  vertical-align: middle; 
}

.cell img {
  height: 4.5rem;
  width: 4.5rem;
  border: var(--border-width) solid var(--dk-gray);
  border-radius: 1rem;
  padding: .25rem;
}

#game-btns {
  width: var(--master-width);
  /* display: flex; */
  background: var(--white);
  border: .5rem double var(--dk-gray);
  border-radius: 0 0 2rem 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  /* margin: 1rem; */
  padding: .5rem;
}

#game-btns .clear-btn, #game-btns #new-game-btn {
  margin-bottom: 0;
}


/* TOGGLE */

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 38px;
  height: 24px;  
  display: inline-block;
  margin: 0 .5rem 0 .5rem;
}

/* Hide default HTML checkbox */
.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--md-gray);
  border-radius: 1rem;
  cursor: pointer;
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  top: 1px;
  background: var(--red);
  border-radius: 1rem;  
  transition: .4s;
  -webkit-transition: .4s; 
}

input:focus + .slider {
  outline: 3px solid var(--dk-gray);
}

input:checked + .slider:before {
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  -webkit-transform: translateX(14px);
}
